<%- include("templates/header") %>
<div class="container text-center">
<% if (user) { %>
  <h2 class="mt-5">Hello, <%- user %>!</h2>
<% } %>
  <h1 class="mt-5">Cats!</h1>
  <div class="row">
    <div class="col">
    <img src='/fluffy.gif' style='width:250px;'>
    </div>
    <div class="col">
      <img src='/socks.gif' style='width:250px;'>
    </div>
    <div class="col">
      <img src='/trumpet.gif' style='width:250px;'>
    </div>
  </div>
</div>
  </form>
<%- include("templates/footer") %> 